{% extends 'magasin/base.html' %}
{% load static %}
{% block body %}
<form method='POST' class="post-form">
{% csrf_token %}
{% include "magasin/base.html" %}
<div class="container">
<div style="overflow:scroll; border:#000000 1px solid;">
<table>
<tr>
  {% for article in list %}
  <td>
  <img src='../../media/{{article.img}}'class="rounded float-start"alt=""height="200px" width="200px">
  <figcaption class="figure-caption">
    {{article.libelle}}
  </figcaption>
  <p> {{article.prix}} DT. </p>
  </td>
  {% endfor %}
  </tr>
  </table>
  </div>
  </form>
  </div>
  {% endblock %}
  

